body {
    font-family: "Arial", sans-serif;
    background-color: #333;
    color: #fff;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
}

img {
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 50%;
}

h3 {
    font-size: 24px;
    margin-top: 50px;
}

p {
    font-size: 18px;
    margin: 25px;
    text-align: justify;
}

ul {
    list-style-type: none;
    margin: 25px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    font-size: 18px;
    margin: 10px 20px;
    background-color: #3c3939;
    padding: 10px;
    border-radius: 10px;
}

ol {
    font-size: 18px;
    margin: 25px;
    padding-left: 40px;
}

li::before {
    counter-increment: item;
    font-weight: bold;
    margin-right: 10px;
}

 .linkClass,a{
    color: #fff;
    text-decoration: none;
    
}

.bottomOne,div {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    font-size: 120%;
}